.label
    bottom: 0

.faux
    margin: 0
    border-bottom: 0

    input.filter
        display: none
        margin: 0

.wrapper
    overflow: auto
    overflow-x: hidden
    height: 305px

    table
        width: 100%
        margin-top: -39px

        thead
            visibility: hidden

        tbody
            .filterMessage
                display: none
                background: #FFF

            td:first-child
                .label
                    padding-left: 0
                    padding-right: 0