h4
    width: 100%

p
    text-align: justify

.label
    bottom: 0

.grid
    position: relative

    .legend
        background: #FFF
        position: absolute
        top: 0
        right: 15px
        padding: 4px 8px
        border: 1px solid #ddd
        border-bottom: 0
        border-radius: 3px 3px 0 0
        z-index: 2

        .label
            display: inline-block
            width: 10px
            height: 10px

            &:not(:first-child)
                margin-left: 6px

.faux
    margin: 0
    border-bottom: 0

    input.filter
        display: none
        margin: 0

.wrapper
    overflow: auto
    overflow-x: hidden
    height: 305px

    table
        width: 100%
        margin-top: -39px

        thead
            visibility: hidden

        tbody
            .filterMessage
                display: none
                background: #FFF

            td:first-child
                .label
                    padding-left: 0
                    padding-right: 0

                a.show-all
                    cursor: pointer