.faux
    margin: 0
    border-bottom: 0

    input.filter
        margin: 0

.wrapper
    overflow: auto
    overflow-x: hidden
    height: 305px

    table
        width: 100%
        margin-top: -39px

        thead
            visibility: hidden