h4 { float:left; }
ul.pages { display:inline; list-style-type:none; float:right; }
ul.pages li { display:inline-block; height:0px; }
ul.pages a.current { font-weight:bold; }
header:after { content:" "; display:block; clear:both; }

table { width:100%; }

span.author:not(:last-child):after { content:","; display:inline-block; }