path.arc { fill:#FFF; }

.node.depth-0 { font-size:18px; }
.node.depth-1 { font-size:14px; }
.node.depth-2 { font-size:10px; }

.node circle { fill:#FFF; stroke:#CCC; stroke-width:1.5px; }
.node.depth-2 circle { stroke:#FEE5D9; fill:#FEE5D9; }
.node circle.band-1 { stroke:#FCAE91; fill:#FCAE91; }
.node circle.band-2 { stroke:#FB6A4A; fill:#FB6A4A;}
.node circle.band-3 { stroke:#DE2D26; fill:#DE2D26; }
.node circle.band-4 { stroke:#A50F15; fill:#A50F15; }

.link { fill:none; stroke:#CCC; stroke-width:1.5px; }