/* ColorBrewer colors */
$band0 = #FEE5D9
$band1 = #FCAE91
$band2 = #FB6A4A
$band3 = #DE2D26
$band4 = #A50F15

h4
    float: left

input.symbol
    color: #8E0022
    background: none
    border: 0
    font-family: 'Droid Serif',serif
    font-size: 23px
    font-weight: bold
    padding: 0
    margin: 10px 0
    margin-left: 4px
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none

article
    position: relative

.graph
    float: left

path.arc
    fill: #FFF

.node
    &.depth-0
        font-size: 18px
    &.depth-1
        font-size: 14px
    &.depth-2
        font-size: 10px

circle.hlt, circle.leaf
    cursor: pointer

.node circle
    fill: #FFF
    stroke: #CCC
    stroke-width: 1.5px

/* ColorBrewer colors */
.node.depth-2 circle
    stroke: $band0
    fill: $band0

.node
    circle.band-1
        stroke: $band1
        fill: $band1
    circle.band-2
        stroke: $band2
        fill: $band2
    circle.band-3
        stroke: $band3
        fill: $band3
    circle.band-4
        stroke: $band4
        fill: $band4

.link
    fill: none
    stroke: #CCC
    stroke-width: 1px
    
    &.band-0
        stroke: $band0
    &.band-1
        stroke: $band1
    &.band-2
        stroke: $band2
    &.band-3
        stroke: $band3
    &.band-4
        stroke: $band4

.config
    background: #FFF
    padding: 20px
    box-shadow: 0 0 10px #CCC
    width: 170px
    float: left
    
    &>div
        margin: 0
        
        &:not(:last-child)
            margin-bottom: 10px

.alert-box
    margin-top: 10px

.popover
    position: absolute
    top: 0
    left: 0
    z-index: 1
    width: 100%
    
    .inner
        max-height: 300px
        overflow-y: auto
        clear: both
        box-shadow: 0 0 10px #CCC

    a.close
        float: right
        font-weight: bold
    
    table
        margin: 0
        
        th
            text-transform: capitalize